.env
.env*.local
.next/
node_modules/
coverage/
.superpowers/
out/
build/*
!build/icon.svg
!build/icon.icns
!build/icon.ico
dist/
release/
tsconfig.tsbuildinfo
devserver.*.log
electron-dev.*.log
prisma/dev.db
prisma/dev.db-journal
prisma/dev.db-shm
prisma/dev.db-wal
